# IntelliJ IDEA files
.idea
.idea/.name
.idea/codeStyles/codeStyleConfig.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml

# Build files
/build
/build/winfunct/Analysis-00.toc
/build/winfunct/EXE-00.toc
/build/winfunct/PKG-00.toc
/build/winfunct/PYZ-00.pyz
/build/winfunct/PYZ-00.toc
/build/winfunct/Tree-00.toc
/build/winfunct/Tree-01.toc
/build/winfunct/Tree-02.toc
/build/winfunct/base_library.zip
/build/winfunct/localpycs/pyimod01_archive.pyc
/build/winfunct/localpycs/pyimod02_importers.pyc
/build/winfunct/localpycs/pyimod03_ctypes.pyc
/build/winfunct/localpycs/pyimod04_pywin32.pyc
/build/winfunct/localpycs/struct.pyc
/build/winfunct/warn-winfunct.txt
/build/winfunct/winfunct.exe.manifest
/build/winfunct/winfunct.pkg
/build/winfunct/xref-winfunct.html

# Distribution files
/dist
/dist/WinFunct-1.2.2.0.exe
/dist/WinFunct-1.3.exe
/dist/WinFunct.zip
/dist/winfunct.exe

# Pycache files
__pycache__/HashStuffInt.cpython-312.pyc
__pycache__/JChatInt.cpython-310.pyc
__pycache__/JChatInt.cpython-311.pyc
__pycache__/JChatInt.cpython-312.pyc
__pycache__/SimpleNNInt.cpython-311.pyc
__pycache__/SimpleNNInt.cpython-312.pyc
__pycache__/SimplePWGenInt.cpython-310.pyc
__pycache__/SimplePWGenInt.cpython-311.pyc
__pycache__/SimplePWGenInt.cpython-312.pyc

# Executable and script files
WinFunct.exe
Pyinstall_UPX.bat
Run-PAUSE.bat
Run-sc.lnk
Run.lnk
WinFunct.lnk
install-pyenv-win.ps1
temp_install_script.bat
winfunct.spec

# Log files
jchat.log
admin_log.txt
netstat_exe_output.txt

# Miscellaneous
SystemCompare.html
functionverify.py
SimpleNNInt.py
random.py
WinFunct_Corrected.py
WinFunct_NEW.py
apikey.json
eff_wordlist.txt
ideas.txt
pastebin.txt
