# IntelliJ IDEA files
/.idea

# Build files
/build/

# Distribution files
/dist/

# Pycache files
__pycache__/

# Executable and script files
*.exe
Pyinstall_UPX.bat
Run-PAUSE.bat
Run-sc.lnk
Run.lnk
WinFunct.lnk
install-pyenv-win.ps1
temp_install_script.bat
check_website.bat

# Log files
*.log
admin_log.txt
netstat_exe_output.txt

# Miscellaneous files
*.zip
*.json
ASCII.txt
SystemCompare.html
eff_wordlist.txt
functionverify.py
functions_OLD.py
ideas.txt
pastebin.txt
random.py
SimpleNNInt.py
winfunct.spec
WinFunct_Corrected.py
WinFunct_NEW.py
